*{
    margin: 0;
}
body{
    background-image: url("/img/wallpaper.jpg");
}
.direct{
    width: 15%;
    height: 90px;
    margin: auto;   
    
}
.colores{
    width: 11%;
    margin: auto;
    margin-top: 20px;
}
.direct button{
    height: 30px;

}
.top{
    display: flex;
    justify-content: center;
}
.bot{
    display: flex;
    justify-content: center;
    width: 100%;
}
.left{
    width: 45%;
    float: left;
    display: flex;
    justify-content: flex-start;
}
.right{
    width: 45%;
    float: right;
    display: flex;
    justify-content: flex-end;
    
}